@page "/"

<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Добро пожаловать в приют для животных!</h1>
                <p>Мы заботимся о каждом животном, предоставляя им любовь, заботу и дом. Присоединяйтесь к нам, чтобы помочь нашим пушистым друзьям найти новый дом!</p>
                <button type="button" class="btn btn-dark btn-lg">Начать!</button>
            </div>
            <div class="col">
                <img src="https://repository-images.githubusercontent.com/190767422/73354680-8949-11e9-8dc9-b5749b98dd26" alt="Животные в приюте" class="img-fluid">
            </div>
        </div>
        <div class="row cards">
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <img src="https://repository-images.githubusercontent.com/190767422/73354680-8949-11e9-8dc9-b5749b98dd26" alt="Иконка" class="icon">
                        <h5 class="card-title">Наши животные</h5>
                        <p class="card-text">Познакомьтесь с нашими подопечными, которые ищут новый дом и любящую семью.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <img src="https://repository-images.githubusercontent.com/190767422/73354680-8949-11e9-8dc9-b5749b98dd26" alt="Иконка" class="icon">
                        <h5 class="card-title">Как помочь</h5>
                        <p class="card-text">Узнайте, как вы можете помочь нашему приюту и сделать жизнь животных лучше.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <img src="https://repository-images.githubusercontent.com/190767422/73354680-8949-11e9-8dc9-b5749b98dd26" alt="Иконка" class="icon">
                        <h5 class="card-title">Контакты</h5>
                        <p class="card-text">Свяжитесь с нами, чтобы узнать больше о наших животных или предложить помощь.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@code{


   // public class User{

     //   public int UserId { get; set; }

      //  public string Username { get; set; }

       // public string PasswordHash { get; set; }

       // public string Role { get; set; }

  //  }

  //  public User[] result = new User[] { };
//
  //  protected override async Task OnInitializedAsync()
  //  {



        // Используем один экземпляр HttpClient
     //   var client = new HttpClient();

      //  client.BaseAddress = new Uri("https://shelteranimalapi.onrender.com");


      //  result = await client.GetFromJsonAsync<User[]>("api/User");

        

        
    }


}